{% extends "base.html" %}
{% load webp_picture from protein_tags %}
{% load static %}

{% block meta-description %}FPbase is a moderated, user-editable fluorescent protein database designed by microscopists.  Search, share, and organize information about fluorescent proteins and their characteristics.{% endblock %}


{% block extrahead %}
<style>
  .cover-wrapper {
    background: no-repeat center center;
    background-image: url("{% static 'images/home_img_2.png' %}");
  }
</style>
{% comment %} <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> {% endcomment %}
<!-- CSS for autocomplete -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js@1.19.2/dist/umd/index.production.js" integrity="sha256-pJWTMvqlBlMBxdkM5bI1ScIVC7LFJoCplF0qQtcL62s=" crossorigin="anonymous"></script>
<script>
  const { autocomplete } = window['@algolia/autocomplete-js'];
</script>
<script type='module' src="{% static 'algolia2.js' %}" defer></script>
<script src="{% static 'search_logic.js' %}"></script>
{% endblock extrahead %}

{% block body-class %}home-body{% endblock body-class %}
{% block body %}
<div class="cover-wrapper">
  <div class="cover-wrapper-inner">
    <nav class="navbar navbar-expand-sm navbar-dark bg-transparent fixed-top">
      {% block navcontainer %} {% include "_nav.html" %} {% endblock navcontainer %}
    </nav>
    <noscript>
        <div class="container text-center mt-0 bg-dark text-white pt-3 pb-4"><p><strong>Javascript is disabled!&nbsp;  Many pages and features of FPbase will not work properly</strong></p>
          <form class="input-group home-search" method="get" action="/search/">
            <input type="search" class="form-control" name="gene__icontains" placeholder="Protein name, accession, doi, organism, author...">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="submit">search</button>
            </span>
          </form>
        </div>
    </noscript>
        <main role="main" class="cover-container container">
          <div class="row">
            <div class="col-md-7 mt-lg-5 search-col order-sm-2 search-col">
              <h1 class="cover-heading text-center mb-4">Find a Protein or a Satellite</h1>  
              <div id='algolia-search-input'>
                {% comment %} <form class="input-group" method="get" action="/search/">
                  <input class="form-control algolia-searchbar" id='algolia-search-input' name="q" type="search" placeholder='Search' autocomplete="off"/> <!--autocomplete="off"-->
                </form> {% endcomment %}
                {% comment %} <div class='input-group algolia-searchbar' id="algolia-search-input"></div> {% endcomment %}
              </div>
              <p class="m-t-4 advanced-search"><a href="{% url 'proteins:search' %}">advanced search</a></p>
            </div>
            <div class="col-md-4  order-sm-1" id="protein-image">
              <div style="position: absolute;" class="no-glow"> {% comment %} top:-70px {% endcomment %}
                {% webp_picture 'images/home_img_2.png' 'img-fluid' "EGFP image" %}
              </div>
              <div style="display: none; position: absolute; " class="glow"> {% comment %} top:-70px {% endcomment %}
                {% webp_picture 'images/home_img_2.png' 'img-fluid' "glowing EGFP image" %}
              </div>
            </div>
          </div>

        </main>
    <div class="home-stats">
        <span>
          {% webp_picture 'images/gfp_white_40.png' 'gfpicon' 'white gfp icon' %}{{stats.proteins}} <a href="{% url 'proteins:proteinTable' %}" class='text-white'>Proteins</a>
        </span>
        <span>
          <i class="fas fa-chart-area mr-2" ></i>{{stats.repeats}} <a href="{% url 'proteins:repeatTable' %}" class='text-white'>Repeats</a>
        </span>
    </div>

  </div>

    <!-- cover-wrapper-inner -->
</div>
<!-- cover-wrapper -->
{% endblock body %}

{%block javascript%}
<script type='module'>
  import initAutocomplete from "{% static 'algolia2.js' %}";
  window.mobilecheck = function () {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  };
  initAutocomplete();
</script>
{%endblock javascript%}
