{% load humanize %}
{% comment %}
	variables:
		showbleach [Bool]: whether to show the bleach column,
		removebutton [Bool]: whether to include the remove button column
		proteins [List, Queryset]: List or queryset of proteins to show in the table
    comparison [Bool]: whether to show comparison button
{% endcomment %}


<table class="table table-sm table-striped {{classes}}" id="{{ id|default:'proteinTable' }}" style="width:100%">
	<thead>
		<tr class="table-header">
			{% if removebutton %}<th class='remove-button'>Remove</th>{% endif %}
			<th class="protein">Name</th>
			
			<td class='hidden'>Aliases</td>
			{% if comparison %}
			<th><span class="d-none d-lg-inline">Compare</span><span class="d-block d-lg-none"><i class="fas fa-plus ml-1"></i></span></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for protein in proteins  %}
			<tr class="data">
				{% if removebutton %}
				{% load protein_tags %}
					<td class="remove-button">{% collection_remove_button protein %}</td>
				{% endif %}
				<td class="protein">
					<a href="{{ protein.get_absolute_url }}">
						{{ protein.gene | safe }}
					</a>
				</td>

				<td class='hidden'>{{ state.protein.aliases }}</td>
				{% if comparison %}
            	<td class="text-center">
              		<button class="btn btn-sm btn-outline-info btn-circle comparison-btn" data-flash='1' data-action-url="{% url 'proteins:update-comparison' %}" data-object='{{protein.slug}}' data-op='add'><i class="fas fa-plus"></i></button>
            	</td>
            	{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
