{% extends "base.html" %}
{% load static i18n favit_tags %}

{% block title %}Repeats in the RepeatOme Database {% endblock %}
{% block meta-description %}A list of all organisms from which proteins cataloged at repeatOme have been derived{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block container-class %}container repeat{% endblock %}

{% block content %}

	<h1 class="name text-center mb-4">RepeatOme Repeats</h1>


      <table class="table table-striped" id="proteintable" style="width: 100%;">
        <thead>
            <tr class="table-header">
                <th class="protein">gene</th>
                <th>satellite</th>
                <th>validation_grade</th>
                <th>prediction_method</th>
                <th>microscopy_result</th>
                <th>motif_enrichment</th>
                <th>motif_q_score</th>
                <th>existing_images</th>
                <th>existing_images_link</th>
                <th>imaging_results</th>
                <th>notes</th>
                <th>PDB</th>
                <th>AF3</th>
                <th>UNIPROT</th>
                <th>ENSEMBL</th>
                <th>proteinatlas</th>
            </tr>
        </thead>
        <tbody>
            {% for protein in proteins %}
            <tr class="data">
                <td class="protein"><a href="/proteinTable/{{protein.slug}}">{{protein.gene}}</a></td>
                <td class="text-center">{{protein.satellite}}</td>
                <td class="text-center">{{protein.validation_grade}}</td>
                <td class="text-center">{{protein.prediction_method}}</td>
                <td class="text-center">{{protein.microscopy_result}}</td>
                <td class="text-center">{{protein.motif_enrichment}}</td>
                <td class="text-center">{{protein.motif_q_score}}</td>
                <td class="text-center">{{protein.existing_images}}</td>
                <td class="text-center">{{protein.existing_images_link}}</td>
                <td class="text-center">{{protein.imaging_results}}</td>
                <td class="text-center">{{protein.notes}}</td>
                <td class="text-center">{{protein.PDB}}</td>
                <td class="text-center">{{protein.AF3}}</td>
                <td class="text-center">{{protein.UNIPROT}}</td>
                <td class="text-center">{{protein.ENSEMBL}}</td>
                <td class="text-center">{{protein.proteinatlas}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>


{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>

<script type="text/javascript">


///////////DATA TABLE

$(function() {
  $('#org-table').DataTable({
    "scrollX": true,
    "pageLength": 50,
    "iDisplayLength": -1,
    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
    "order": [[ 3, 'desc' ]],
  });

});
</script>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<script type="text/javascript">
   $(function(){


       $('.displaybuttons input').change(function(){
           var display_type = $(this).val()
           $("#" +  display_type + "display").show()
           $("#" +  display_type + "display").siblings('div').hide()
       })
   });


</script>


{% endblock javascript %}
