{% extends "base.html" %}
{% load static i18n favit_tags %}

{% block title %}Repeats in the RepeatOme Database {% endblock %}
{% block meta-description %}A list of all organisms from which proteins cataloged at repeatOme have been derived{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block container-class %}container repeat{% endblock %}

{% block content %}

	<h1 class="name text-center mb-4">RepeatOme Proteins</h1>


      <table class="table table-striped" id="proteinTable" style="width: 100%;">
        <thead>
            <tr class="table-header">
                <th class="protein">Gene</th>
                <th>Aliases</th>
                <th>Repeats</th>
                <th>Parent Organism</th>
                <th>Gene Family</th>
                <th>UNIPROT</th>
                <th>ENSEMBL</th>
                <th>Jaspar</th>
            </tr>
        </thead>
        <tbody>
            {% for protein in proteins %}
            <tr class="data">
                <td class="protein"><a href="/proteinTable/{{protein.slug}}">{{protein.gene}}</a></td>
                <td class="text-center">{{protein.aliases_as_str}}</td>
                <td class="text-center">
                  {% for repeat in protein.repeats.all %}
                    <a href="/repeatTable/{{repeat.slug}}">{{repeat.name}}</a>
                  {% endfor %}
                </td>
                <td class="text-center">{{protein.parent_organism.scientific_name}}</td>
                <td class="text-center">{{protein.gene_family.gene_family}}</td>
                <td class="text-center"> <a href="https://www.uniprot.org/uniprot/{{ protein.UNIPROT }}" target="_blank">{{protein.UNIPROT}}</a></td>
                <td class="text-center"> <a href="https://www.proteinatlas.org/{{ protein.ENSEMBL }}" target="_blank">{{protein.ENSEMBL}}</a></td>
                <td class="text-center"><a href=''>{{protein.get_jaspar_base}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>


{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>

<script type="text/javascript">


///////////DATA TABLE

$(function() {
  $('#proteinTable').DataTable({
    "scrollX": true,
    "pageLength": 50,
    "iDisplayLength": -1,
    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
    "order": [[ 3, 'desc' ]],
  });

});
</script>

{% comment %} <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<script type="text/javascript">
   $(function(){


       $('.displaybuttons input').change(function(){
           var display_type = $(this).val()
           $("#" +  display_type + "display").show()
           $("#" +  display_type + "display").siblings('div').hide()
       })
   });


</script>
 {% endcomment %}

{% endblock javascript %}
