{% extends "base.html" %}
{% load static i18n favit_tags %}

{% block title %}Repeats in the RepeatOme Database {% endblock %}
{% block meta-description %}A list of all organisms from which proteins cataloged at repeatOme have been derived{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block container-class %}container repeat{% endblock %}

{% block content %}

	<h1 class="name text-center mb-4">RepeatOme Repeats</h1>


      <table class="table table-striped" id="repeatTable" style="width: 100%;">
        <thead>
          <tr class="table-header">
            <th class="repeat text-nowrap">Repeat</th>
           <th>Aliases</th>
           <th>DFAM ID</th>
           <th>Proteomics</th>
           <th>Parent Organism</th>
          </tr>
        </thead>
        <tbody>
          {% for repeat in repeats  %}
          <tr>
            <td class="repeat"><a href="/repeatTable/{{repeat.name}}">{{repeat.name}}</a></td>
            <td class="text-center">{{repeat.aliases}}</td>
            <td class="text-center">{{repeat.dfam_id}}</td>
            <td class="text-center">{{repeat.proteomics}}</td>
            <td class="text-center">{{repeat.parental_organism.scientific_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>

<script type="text/javascript">


///////////DATA TABLE

$(function() {
  $('#org-table').DataTable({
    "scrollX": true,
    "pageLength": 50,
    "iDisplayLength": -1,
    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
    "order": [[ 3, 'desc' ]],
  });

});
</script>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<script type="text/javascript">
   $(function(){


       $('.displaybuttons input').change(function(){
           var display_type = $(this).val()
           $("#" +  display_type + "display").show()
           $("#" +  display_type + "display").siblings('div').hide()
       })
   });


</script>


{% endblock javascript %}
