{% extends "base.html" %}
{% load i18n favit_tags %}
{% load flag_object from protein_tags %}
{% load render_bundle from webpack_loader %}


{% block title %}{{ repeat.name|safe  }} :: Repeatome Database {% endblock %}
{% block meta-description %}{{ repeat.name }}{% endblock %}

{% block extrahead %}
{% load static %}
<link rel='stylesheet' href="{% static 'base_style.css' %}">
<link rel='stylesheet' href="{% static 'base.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'base_proj.js' %}"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script type='module' src="{% static 'react_seq.js' %}"></script>

<!-- Motif Sequence Viewer -->
 <script src="{% static 'motif_viewer/hmm_logo.js' %}"></script>
 <script src="{% static 'motif_viewer/scroller.js' %}"></script>
 <link rel='stylesheet' href="{% static 'motif_viewer/motif_style.css' %}">
<script type="application/javascript">
  $(document).ready(function() {
    var zoom         = 1;
    var column_width = 34;
    console.log(document.querySelector('div[data-logo]').dataset.logo)
    $('#logo').hmm_logo({column_width: 34, height_toggle: 'enabled', column_info: '#logo_info'});
    //$('#logo2').hmm_logo({zoom: 1, height_toggle: 'enabled', help: 1, column_info: '#logo_info'});
  });
</script>
{% endblock extrahead %}

{% block container-class %}container repeat{% endblock %}

{% block content %}
    <h1 class="text-center name display-4">{{ repeat.name | safe }}</h1>
    <div class="text-center aliases">a.k.a {{ repeat.aliases_as_str | safe }}</div>
    <div class="text-center organism">Organism: {{repeat.parental_organism.scientific_name}}</div>  
    <div class="table mt-3">
        {% comment %} 
        <table class="table mobile flip-scroll">
        <thead>
            <tr class="table-header ">
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#organism">Organism</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#molecular-weight">Molecular Weight</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#cofactor">Motif</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#oligomerization">Proteomics</a></th>
            </tr>
        </thead>
        <tbody>

            <tr >
            <td>{{repeat.parental_organism.scientific_name | safe}}</td>
            <td>{{repeat.molecular_weight_str | safe}}</td>
            <td>{{repeat.motif | safe}}</td>
            <td>{{repeat.proteomics | safe}}</td>
            </tr>
        </tbody>
        </table> {% endcomment %}
   </div>

   <div class="attributes">
     <h3>Attributes</h3>
   </div>

    <div class="table mt-3">
        {% comment %} <table class="table table-striped flip-scroll states-table">
        <thead>
            <tr class="table-header">
            <th>Gene type</th>
            <th>DNA binding domain</th>
            <th>Signaling pathway</th>
            </tr>
        </thead>
        <tbody>
            <tr >
            <td>{{protein.gene_type_as_str | safe}}</td>
            <td>{{ protein.dna_binding_domain | safe }}</td>
            <td>{{ protein.signaling_pathway | safe }}</td>
            </tr>
        </tbody>
        </table> {% endcomment %}
        <div class="attribute-data">
            {% if repeat.dfam_id %}
              <p class="attr-name">Motif</p>
              <div class='logo-holder'>
                <div class="logo-col" id="logo" data-logo="{{repeat.get_hmm}}"></div>
                <div class="logo-col" id="logo_info"></div>
              </div>
            {% endif %}
            <p class="attr-name">Proteomics</p>
            <p>{{repeat.proteomics}}</p>
        </div>
    </div>

   <div class="Proteins">
     <h3>Proteins</h3>
   </div>

   <div class="table mt-3">
     <table class="table" id='repeatProteins' style="width: 100%; overflow-x: scroll;">
       <thead>
         <tr class="table-header">
           <th>Protein</th>
           <th>Gene Family</th>
           <th>Gene Type</th>
           <th>Organism</th>
           <th>DNA Binding Domain</th>
           <th>Signaling Pathway</th>
         </tr>
       </thead>
       <tbody>
        {% for protein in repeat.get_proteins %}
         <tr>
           <td><a href="/proteinTable/{{protein.gene}}">{{ protein.gene | safe}}</a></td>
           <td>{{ protein.gene_family.gene_family | safe }}</td>
           <td>{{ protein.gene_type_as_str | safe }}</td>
           <td>{{ protein.parent_organism.scientific_name | safe }}</td>
           <td>{{ protein.dna_binding_domain | safe }}</td>
           <td>{{ protein.signaling_pathway | safe }}</td>
         </tr>
         {%endfor%}
       </tbody>
     </table>
   </div>

     {% comment %} <div class="sequence mt-3">
			<div class="row">
			  	<div class="col">
				  <h3 class='d-inline'>{{ protein.gene | safe }} Sequence</h3>
        </div>
      </div>
      {% if protein.protein_sequence %}
        <div class="mt-2">
          {% if protein.seq_comment %}
          <p class='text-info small mb-1'><span class='font-weight-bold'>Note</span>: {{ protein.seq_comment | safe}}</p>
          {% endif %}
          <div class='aminosequence container'>{{ protein.protein_sequence }}</div>
        </div>
      {% else %}
          <p>no sequence available ... <a href="{% url 'proteins:update' slug=repeat.slug %}" class='text-secondary'>add one!</a></p>
      {% endif %} {% endcomment %}

    <div class="sequence mt-3">
        {% if protein.ENSEMBL or protein.UNIPROT or protein.PDB or protein.AF3 or protein.jaspar %}
        <div class="row text-right justify-content-end">
            {% if protein.ENSEMBL %}
            <div class="col-md-3 col-sm-6">
                <small>Ensembl: <a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.ENSEMBL }}" target="_blank" rel="noopener">{{ protein.ENSEMBL | default:''}}</a></small>
            </div>
            {% endif %}

            {% if protein.ENSEMBL %}
            <div class="col-md-3 col-sm-6">
                <small>proteinatlas: <a href="https://www.proteinatlas.org/{{ protein.ENSEMBL }}" target="_blank" rel="noopener">{{ protein.ENSEMBL | default:''}}</a></small>
            </div>
            {% endif %}


            {% if protein.UNIPROT %}
            <div class="col-md-3 col-sm-6">
                <small>UniProt: <a href="https://www.uniprot.org/uniprot/{{ protein.UNIPROT }}" target="_blank" rel="noopener">{{ protein.UNIPROT | default:''}}</a></small>
            </div>
            {% endif %}

            {% if protein.PDB %}
            <div class="col-md-3 col-sm-6">
                <small>PDB: <a href="https://www.rcsb.org/structure/{{ protein.PDB }}" target="_blank" rel="noopener">{{ protein.PDB | default:''}}</a></small>
            </div>
            {% endif %}

            {% if protein.AF3 %}
            <div class="col-md-3 col-sm-6">
                <small>AF3: <a href="https://alphafold.ebi.ac.uk/entry/{{ protein.AF3 }}" target="_blank" rel="noopener">{{ protein.AF3 | default:''}}</a></small>
            </div>
            {% endif %}

            {% if protein.jaspar %}
            <div class="col-md-3 col-sm-6">
                <small>Jaspar: <a href="https://jaspar.elixir.no/matrix/{{ protein.jaspar }}" target="_blank" rel="noopener">{{ protein.jaspar | default:''}}</a></small>
            </div>
            {% endif %}

        </div>
        {% endif %}
    </div>


   {% comment %} {% if protein.PDB %}
     {% include "proteins/_structure_section.html" with protein=protein %}
   {% endif %} {% endcomment %}

   {% comment %} <div class="excerpts">
     <h3>Excerpts <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Excerpts" data-placement="right" data-content="Excerpts are snippets from publications that capture <strong>key</strong> information about this protein that does not easily fit into one of the existing fields (such as a summary, motivation, or observation).<hr>If you believe an excerpt is inappropriate or taken out of context, you may flag it for review if you are logged in."><i class="fas fa-info-circle ml-2 text-muted" style='font-size: 1rem; position: relative; top: -1px; cursor: pointer;'></i></a></h3>
     {% if excerpts %}
       {% for excerpt in excerpts  %}
         {% if excerpt.status != 'rejected' %}
         <blockquote class="gray">
           <div class='flag'>
             {% flag_object excerpt %}
           </div>
           <p class='excerpt-content'>{{excerpt.content}}</p>
           {% if excerpt.reference %}
             <a href="{{excerpt.reference.get_absolute_url}}"><h4>{{excerpt.reference.citation}}<a href="https://doi.org/{{ excerpt.reference.doi }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt text-info small ml-2"></i></a></h4></a>
           {% endif %}
         </blockquote>
         {% endif %}
       {% endfor %}
     {% else %}


       <p class='text-muted'>No excerpts have been added for {{protein.name | safe }}<br><em class='text-muted small'>Excerpts are snippets from publications that capture key information about this protein that does not easily fit into one of the existing fields (such as a summary, motivation, or observation).</em></p>


     {% endif %}
     <a class='text-info' data-toggle="modal" data-target="#excerptModal"><button class='btn btn-sm btn-secondary mt-1'><i class="fas fa-quote-left mr-2"></i>Add an excerpt</button></a>
   </div> {% endcomment %}




       <div class="primary-ref references mt-2">
           <h3>Primary Reference</h3>
           {% if protein.references %}
               {% include "_reference.html" with ref=protein.references %}
           {% endif %}
       </div>


       <div class="additional-ref references">
           <h3>Additional References</h3>
           <ol>
               {% if protein.additional_references %}
               {% for ref in protein.additional_references %}
                   <li class="mt-2 mb-2">{% include "_reference.html" %}</li>
               {% endfor %}
               {% else %}
                   <p style='color: #888;'>No additional references have been added.<p>
               {% endif %}
               <a class='text-info' data-toggle="modal" data-target="#referenceModal"><button class='btn btn-sm btn-secondary mt-1'><i class="fas fa-book mr-2"></i>Add a reference</button></a>
           </ol>
       </div>

   <div class="external-resources">
     <h3>External Resources</h3>
     <ul>
     {#             <li>Search <a href="https://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.gene | urlencode }}" target="_blank" rel="noopener">BioNumbers</a> for {{ protein.name }}</li> #}
       <li>Search <a href="https://www.addgene.org/search/advanced/?q={{ repeat.name | urlencode }}" target="_blank" rel="noopener">Addgene</a> for {{ repeat.name | safe}}</li>
       <li>Search <a href="https://knowledge.brc.riken.jp/resource/dna/list?query={{ repeat.name | urlencode }}" target="_blank" rel="noopener">RIKEN BRC</a> for {{ repeat.name | safe}}</li>
     </ul>
   </div>

{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>

<script type="text/javascript">


///////////DATA TABLE

$(function() {
  $('#repeatProteins').DataTable({
    "scrollX": true,
    "pageLength": 10,
    "iDisplayLength": -1,
    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
    "order": [[ 3, 'desc' ]],
  });

});
</script>

{% endblock javascript %}
