{% load i18n %}

<div class="modal fade" id="collectionModal" tabindex="-1" role="dialog" aria-labelledby="collectionModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="collectionModalLongTitle"><strong>Add {{ protein.gene }} to your collection</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <p class='mt-4' id="currentmemberships"></p>
    		<form id="collectionForm" class='mt-4 mb-2' data-action-url="{% url 'proteins:add_to_collection' %}" action="{% url 'proteins:add_to_collection' %}" method="post">
          <div class="input-group" id="collectionSelection">
              <select name="collectionChoice" class="form-control custom-select" id="collectionSelect">
                {% for collection in collections %}
                  <option value='{{collection.id}}'>{{ collection.name }}</option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button class="btn btn-info" type="submit">Add</button>
              </div>
          </div>
          <input type="hidden" name="protein" class='hidden' value="{{ protein.id }}">
          {% csrf_token %}
    		</form>
        <p class='mb-2 mt-3 small' style='color:gray'><em> <a href="{% url 'proteins:newcollection' %}?next={% firstof request.path '/' %}">Create a new collection</a> or edit your collections on <a href="{% url 'users:detail' request.user.username %}">your profile</a></em></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
	  {% else %}
  	      <div class="modal-body">
  	      	<div>
  	      		<p>You must be logged in to create protein collections</p>
  	      		<a id="log-in-link" class="nav-link" href="{% url 'account_login' %}?next={% firstof request.path '/' %}"><button type="submit" class="btn btn-primary">{% trans "sign in" %}</button></a>
  	      	</div>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	      </div>
	  {% endif %}
    </div>
  </div>
</div>


<script>
document.getElementById('collectionForm')?.addEventListener('submit', async (e) => {
  e.preventDefault();
  const form = e.currentTarget;
  const url = form.action;
  const fd = new FormData(form);

  const resp = await fetch(url, {
    method: 'POST',
    headers: {
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
    },
    body: fd
  });
});
</script>