{% load static %}
<div class='row' id='struct-micro-names'>
  <div class='col-12 col-md-6 order-md-1 style="padding-bottom: -100px;"'>
    <h3>PDB</h3>
    <!-- <div class="litmol-tab">
        {% if protein.PDB %}
          <button class="litmol-tablinks" onclick="openLitmol(event, 'PDB')" id="defaultOpen">PDB</button>
          <button class="litmol-tablinks" onclick="openLitmol(event, 'AF3')">AF3</button>
        {% else %}
          <button class="litmol-tablinks" onclick="openLitmol(event, 'PDB')" >PDB</button>
          <button class="litmol-tablinks" onclick="openLitmol(event, 'AF3')" id="defaultOpen" >AF3</button>
        {% endif %}
      </div> -->
  </div>
  <div class='col-12 col-md-6 order-md-2' style="padding-bottom: -100px;"><h3>AF3</h3>
  </div>
</div>
<div class='row' id="protein-structure">
  <div class="col-12 col-md-6 order-2 order-md-1" style="border: 5px solid white;">
    <div  style="height: 400px; background: white; border: 50px solid white;">
      <div id="litemol-viewer"></div>
    </div>
  </div>
  <div class='col-12 col-md-6 order-1 order-md-2' style="border: 5px solid white;">
    <div  style="height: 400px; background: white; border: 50px solid white;">
      <div id="litemol-viewer-af3"></div>
    </div>
  </div>				
</div>
<div class="form-group mb-2">
  <div class="input-group mb-0">
    <div class="input-group-prepend">
      <label class="input-group-text" for="pdb_select">PDB ID</label>
    </div>
    <select class="custom-select" id="pdb_select">
      
    </select>
    <div class="input-group-append">
      <a href="https://www.rcsb.org/structure/{{protein.PDB}}" target="_blank" rel="noopener" id="pdb-out-link"><button class="btn btn-outline-info" type="button"><i class="fas fa-external-link-alt"></i></button></a>
    </div>
  </div>
</div>

<div>
  <!-- <iframe src="https://avivator.gehlenborglab.org/?image_url=https://repeatome-test2.s3.us-east-1.amazonaws.com/microscopy_tead1.ome.tif" 
        width="100%" height="700" frameborder="0"></iframe> -->
  <iframe src="https://avivator.gehlenborglab.org/?image_url=https://altemoselab-share.s3.us-west-1.amazonaws.com/repeatome/microscopy_tead1.ome.tif" 
        width="100%" height="700" frameborder="0"></iframe>
</div>


<!-- LITEMOL SCRIPTS -->

<script crossorigin src="https://cdn.jsdelivr.net/npm/pdbe-molstar@dev/build/pdbe-molstar-plugin.js"></script>

<script>
// Litmol tabs to switch between showing litmol viewer for PDB or AF3
var $j = jQuery.noConflict();

function openLitmol(evt, litmolViewerType) {

  var litMoleDivId = '#litemol-viewer'
  if (litmolViewerType == 'PDB') {
    litMoleDivId = '#litemol-viewer'
  } else {
    litMoleDivId = '#litemol-viewer-af3'
  }

  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("litmol-tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("litmol-tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  console.log('in openLitmol: litmolViewerType = ' + litmolViewerType)
  // document.getElementById(litmolViewerType).style.display = "block";
  evt.currentTarget.className += " active";

  //  Get element from HTML/Template to place the viewer
  if (litmolViewerType == 'PDB') {
    moleculeId = '{{protein.PDB_lower}}'
  } else {
    moleculeId = '{{protein.UNIPROT}}'
  }
  $j(litMoleDivId).data('moleculeId', moleculeId)
  console.log('litemol-viewer.data1 = ' + $j(litMoleDivId).data('moleculeId'));

  // Refresh litemol-viewer
  // Set options (uncomment lines to explore various options)
  var options = null
  if (litmolViewerType == 'PDB') {
    options = {
      // DATA
      moleculeId: moleculeId,
      assemblyId: '1',
      // INTERFACE
      hideControls: true,
      hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
      sequencePanel: false,
      leftPanel: false,
      rightPanel: false,
      topPanel: false,
      bottomPanel: false,
      pdbeLink: true,
      loadingOverlay: false,
      expanded: false,
      landscape: false,
      layoutShowControls: false,
      reactive: false,
    };
  } else {
    options = {
      // DATA
      moleculeId: moleculeId,
      assemblyId: '1',
      // INTERFACE
      hideControls: true,
      hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
      sequencePanel: false,
      leftPanel: false,
      rightPanel: false,
      topPanel: false,
      bottomPanel: false,
      pdbeLink: true,
      loadingOverlay: false,
      expanded: false,
      landscape: false,
      layoutShowControls: false,
      reactive: false,
      alphafoldView: true,
      customData: {
        url: 'https://alphafold.ebi.ac.uk/files/AF-{{protein.UNIPROT}}-F1-model_v4.cif',
        format: 'cif',
      }
    }
  }

    // Get element from HTML/Template to place the viewer
  const viewerContainer = document.getElementById(litMoleDivId);

  // Call render method to display the 3D view
  viewerInstance.render(viewerContainer, options);

}

// Create litmodel plugin instance
const molstarPluginPdb = new PDBeMolstarPlugin();
const molstarPluginAf3 = new PDBeMolstarPlugin();

// Get the element with id="defaultOpen" and click on it
//document.getElementById("defaultOpen").click();


pdbOptions = {
  moleculeId: '{{protein.PDB_lower}}',
  assemblyId: '1',
  hideControls: true,
  hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
  sequencePanel: false,
  leftPanel: false,
  rightPanel: false,
  topPanel: false,
  bottomPanel: false,
  pdbeLink: true,
  loadingOverlay: false,
  expanded: false,
  landscape: false,
  layoutShowControls: false,
  reactive: false,
};

af3Options = {
  moleculeId: '{{protein.UNIPROT}}',
  assemblyId: '1',
  hideControls: true,
  hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
  sequencePanel: false,
  leftPanel: false,
  rightPanel: false,
  topPanel: false,
  bottomPanel: false,
  pdbeLink: true,
  loadingOverlay: false,
  expanded: false,
  landscape: false,
  layoutShowControls: false,
  reactive: false,
  alphafoldView: true,
  customData: {
    url: 'https://alphafold.ebi.ac.uk/files/AF-{{protein.UNIPROT}}-F1-model_v4.cif',
    format: 'cif',
  }
};

// Get element from HTML/Template to place the viewer and call render method to display the 3D view
// const viewerContainerPdb = document.getElementById('litemol-viewer');
// molstarPluginPdb.render(viewerContainerPdb, pdbOptions);
molstarPluginPdb.render('litemol-viewer', pdbOptions);

// const viewerContainerAf3 = document.getElementById('litemol-viewer-af3');
// molstarPluginAf3.render(viewerContainerAf3, af3Options);
molstarPluginAf3.render('litemol-viewer-af3', af3Options);


</script>
