{% load static %}
<div class='row' id='struct-micro-names'>
  <div class='col-12 col-md-6 order-md-1'>
    <h3>Structure</h3>
    <div class="litmol-tab">
        {% if protein.PDB %}
          <button class="litmol-tablinks" onclick="openLitmol(event, 'PDB')" id="defaultOpen">PDB</button>
          <button class="litmol-tablinks" onclick="openLitmol(event, 'AF3')">AF3</button>
        {% else %}
          <button class="litmol-tablinks" onclick="openLitmol(event, 'PDB')" >PDB</button>
          <button class="litmol-tablinks" onclick="openLitmol(event, 'AF3')" id="defaultOpen" >AF3</button>
        {% endif %}

      </div>
  </div>
  <div class='col-12 col-md-6 order-md-2'><h3>Microscopy Result</h3></div>
</div>
<div class='row' id="protein-structure">
  <div class="col-12 col-md-6 order-2 order-md-1">
    <div  style="height: 400px; background: white;">
      <div id="litemol-viewer"></div>
    </div>
  </div>
  <div class='col-12 col-md-6 order-1 order-md-2'>
    {% comment %} <h5 class='mb-0' id="chem-title"></h5> {% endcomment %}
    {% comment %} <div class='row' id='microscopy'> {% endcomment %}
    {% comment %} <div class='col-12'> {% endcomment %}
      <div class="text-muted" id="pdb-info">
        {% comment %} <img src="{% static 'microscopy_' ~ {{ protein.gene }} ~ '.png' %}" alt="{{ protein.gene }}"> {% endcomment %}
        <img src="{% static 'microscopy_'|add:protein.gene|add:'.png' %}" alt="{{ protein.gene }}">
      </div>
          {% comment %} <div id="smilesDrawing" class="mt-4">
            <div class="card-img-top" style="maxHeight: 300px;">
            </div>
<!--              <div class="card-body pt-0">
                <button onclick="loadDensity()" class='btn btn-xs btn-outline-info' id="density_loader" style="position: absolute; z-index: 9;">load electron density</button>
            </div> -->
          </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
  </div>
</div>
<div class="form-group mb-2">
  <div class="input-group mb-0">
    <div class="input-group-prepend">
      <label class="input-group-text" for="pdb_select">PDB ID</label>
    </div>
    <select class="custom-select" id="pdb_select">
    </select>
    <div class="input-group-append">
      <a href="https://www.rcsb.org/structure/{{protein.PDB}}" target="_blank" rel="noopener" id="pdb-out-link"><button class="btn btn-outline-info" type="button"><i class="fas fa-external-link-alt"></i></button></a>
    </div>
  </div>
</div>

<!-- LITEMOL SCRIPTS -->

<script crossorigin src="https://cdn.jsdelivr.net/npm/pdbe-molstar@dev/build/pdbe-molstar-plugin.js"></script>

<script>
// Litmol tabs to switch between showing litmol viewer for PDB or AF3
var $j = jQuery.noConflict();

function openLitmol(evt, litmolViewerType) {

  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("litmol-tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("litmol-tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  console.log('in openLitmol: litmolViewerType = ' + litmolViewerType)
  // document.getElementById(litmolViewerType).style.display = "block";
  evt.currentTarget.className += " active";

  //  Get element from HTML/Template to place the viewer
  if (litmolViewerType == 'PDB') {
    moleculeId = '{{protein.PDB_lower}}'
  } else {
    moleculeId = '{{protein.UNIPROT}}'
  }
  $j('#litemol-viewer').data('moleculeId', moleculeId)
  console.log('litemol-viewer.data1 = ' + $j('#litemol-viewer').data('moleculeId'));

  // Refresh litemol-viewer
  // Set options (uncomment lines to explore various options)
  var options = null
  if (litmolViewerType == 'PDB') {
    options = {
      // DATA
      // moleculeId: $j('#litemol-viewer').data('moleculeId'), // PDB ID or URL to a structure file
      moleculeId: moleculeId,
      assemblyId: '1',
      // INTERFACE
      hideControls: true,
      hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
      sequencePanel: false,
      leftPanel: false,
      rightPanel: false,
      topPanel: false,
      bottomPanel: false,
      pdbeLink: true,
      loadingOverlay: false,
      expanded: false,
      landscape: false,
      layoutShowControls: false,
      reactive: false,
    };
  } else {
    options = {
      // DATA
      // moleculeId: $j('#litemol-viewer').data('moleculeId'), // PDB ID or URL to a structure file
      moleculeId: moleculeId,
      assemblyId: '1',
      // INTERFACE
      hideControls: true,
      hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
      sequencePanel: false,
      leftPanel: false,
      rightPanel: false,
      topPanel: false,
      bottomPanel: false,
      pdbeLink: true,
      loadingOverlay: false,
      expanded: false,
      landscape: false,
      layoutShowControls: false,
      reactive: false,
      alphafoldView: true,
      customData: {
        url: 'https://alphafold.ebi.ac.uk/files/AF-{{protein.UNIPROT}}-F1-model_v4.cif',
        format: 'cif',
      }
    }
  }

    // Get element from HTML/Template to place the viewer
  const viewerContainer = document.getElementById('litemol-viewer');

  // Call render method to display the 3D view
  viewerInstance.render(viewerContainer, options);

}

// Create litmodel plugin instance
const viewerInstance = new PDBeMolstarPlugin();

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

// Set options (uncomment lines to explore various options)
const options = {
  // DATA
  // moleculeId: $j('#litemol-viewer').data('moleculeId'), // PDB ID or URL to a structure file
  moleculeId: '{{protein.PDB_lower}}',
  assemblyId: '1',
  // APPEARANCE
  // visualStyle: 'cartoon', // cartoon | ball-and-stick | carbohydrate | ellipsoid | gaussian-surface | molecular-surface | point | putty | spacefill
  // hideStructure: ['het', 'water'],
  // loadMaps: true,
  // mapSettings: { '2fo-fc': { opacity: 0.8, wireframe: true } },
  // bgColor: { r: 60, g: 0, b: 100 };
  //bgColor: '#77bbff';

  // highlightColor: '#ffff00',
  // selectColor: '#77bbff',
  // lighting: 'flat', // flat | matte | glossy | metallic | plastic

  // BEHAVIOR
  // validationAnnotation: true,
  // domainAnnotation: true,
  // symmetryAnnotation: true,
  // pdbeUrl: 'https://www.ebi.ac.uk/pdbe/',
  // pdbeUrl: 'https://www.rcsb.org/3d-view/',
  // encoding: 'cif', // cif | bcif
  // lowPrecisionCoords: true,
  // selectInteraction: false,
  // granularity: 'chain', // element | residue | chain | entity | model | operator | structure | elementInstances | residueInstances | chainInstances
  // subscribeEvents: true,


  // INTERFACE
  hideControls: true,
  hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo', 'trajectory'],
  sequencePanel: false,
  leftPanel: false,
  rightPanel: false,
  topPanel: false,
  bottomPanel: false,
  pdbeLink: true,
  loadingOverlay: false,
  expanded: false,
  landscape: false,
  layoutShowControls: false,
  reactive: false,
};

// Get element from HTML/Template to place the viewer
const viewerContainer = document.getElementById('litemol-viewer');

// Call render method to display the 3D view
viewerInstance.render(viewerContainer, options);

</script>
