<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- <iframe src="https://kitware.github.io/itk-vtk-viewer/app/?fileToLoad=/static/microscopy/microscopy_TEAD1_sitk.nrrd">
        width="800" height="600" frameborder="0">
    </iframe> -->

    <!-- <iframe src="https://kitware.github.io/itk-vtk-viewer/app/" width="800" height="600" frameborder="0"></iframe> -->

    <!-- <iframe src="https://ij.imjoy.io/?open=https://people.math.sc.edu/Burkardt/data/tif/at3_1m4_01.tif" 
        width="800" height="600" frameborder="0"></iframe> -->


    <iframe src="https://ij.imjoy.io/" 
        width="800" height="600" frameborder="0"></iframe>
  </body>
</html>

