<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div
      style="float: right; display: inline-block; border: 2px solid gray; margin: 20px; margin-right: 50px;"
      class="itk-vtk-viewer"
      data-url1="/static/microscopy/microscopy_TEAD1.nrrd"
      data-url2="/static/microscopy/foolf.nrrd"
      data-url3="/static/microscopy/an-hist.nrrd"
      data-url4="/static/microscopy/microscopy_TEAD1_nrrd.nrrd"
      data-url="/static/microscopy/microscopy_TEAD1_sitk.nrrd"
      data-url6="/static/microscopy/microscopy_TEAD1_sitk_v2.nrrd"
      <!-- data-viewport="450x300" -->
      data-pipeline-base-url="/frontend/static/microscopy">
    </div>

    <script type="text/javascript" src="https://unpkg.io/itk-vtk-viewer/dist/itkVtkViewerCDN.js"></script>
    <!-- <script type="text/javascript" src="https://kitware.github.io/itk-vtk-viewer/app/itkVtkViewerCDN.js"></script> -->
    <!-- <script type="text/javascript" src="/frontend/static/microscopy/itkVtkViewerCDN.js"></script> -->
  </body>
</html>